@{
    ViewBag.Title = "Ministeries";
}

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Community Outreach</li>
            <li>Operation Hope</li>
            <li>Conferences</li>
            <li>Childrens Ministry Training Centre</li>
            
        </ul>
       
    </div>
    
</div>



