@{
    ViewBag.Title = "Resources";
}

<div class="row">
    <div class="col-md-12">
        <div align="justify" id="content">
            <h2>A Little Child Shall Lead Them</h2>

            <h4>
                THE STORY OF NEW HOPE CENTRE -- ESWATINI, AFRICA
            </h4>
            <h4>
                BUY A COPY OF THIS BOOK TODAY
            </h4>
            <img src="~/Content/Images/a little child shall lead them.jpg" style="width:80%">


            <h4>by Dr. Elizabeth Hynd with Gwen Ellis </h4>



            <p>We have published the New Hope Centre story in a 224 page book called “A little child will lead them”.Here is a snippet of the book, you might like to read the whole story later:</p>

            <p>
                “There’s a man at the gate. Something about a child sitting under a tree somewhere,” a staff member told me.
            </p>

            <p>
                “Ma’am, I have seen a very small child for five days. This child sits under a tree in the eastern part of the country. I see her every morning from the bus on my way to work. Can you help this child?”
            </p>

            <p>The next day two of our staff members went with the man to try to find the child, and found her where he had said. Under the tree sat a very little girl who looked no more than six months old. She was little more than a skeleton. Her back was bent and her pelvic girdle appeared to have been distorted from sitting for such a long period of time which meant she was unable to walk or crawl. She was also unable to talk. She sat in her own excrement. How she had survived this long was a miracle. We asked people around the community about her and found out her entire family had died. A family said they would care for her, but sadly were unable to as she was so young and would have been too much trouble. Day after day she sat under the tree, numb in her loneliness and eating handfuls of dirt to quieten the hunger pains. The staff members bundled her up and brought her back to New Hope Centre.</p>


            <h3>The book is now available on <a href='https://www.amazon.com/'>Amazon</a> !</h3>


            @*<form method="post" action="https://www.paypal.com/cgi-bin/webscr"><input value="_s-xclick" type="hidden" name="cmd"> <input value="UZXXHEWRTHEZ8" type="hidden" name="hosted_button_id"> <input border="0" alt="PayPal - The safer, easier way to pay online!" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_buynowCC_LG.gif" type="image" name="submit"> <img border="0" alt="" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif" width="1" height="1"> </form>*@

            @*<div>
                <o:p>
                    <span style="mso-spacerun: yes"><span style="font-size: 10pt; font-weight: bold; ">If you would like to pay by check or money order please <a href="mailto:NHCWise@gmail.com?subject=I%20would%20like%20to%20buy%20A%20Little%20Child%20Shall%20Lead%20Them">click here</a>. You will receive payment instructions shortly. If you would like to order more than 4 copies for shipping to a location outside of the U.S, or more than 10 copies for shipping within the US, please contact us: <span style="COLOR: #000080"><a href="mailto:NHCWise@gmail.com?subject=I%20would%20like%20to%20buy%20A%20Little%20Child%20Shall%20Lead%20Them">click here</a></span>. </span></span>
                    <p><br></p><div>
                    </div>
            </div>*@

            <div>
                <div>
                    <o:p>
                        <span style="FONT-SIZE: 12pt" lang="EN-US">
                            <o:p>
                                <span style="FONT-SIZE: 12pt" lang="EN-US">
                                    <o:p>
                                        <span style="font-style: italic; "><span style="font-weight: bold; ">Book Review:</span> </span>
                                        <div>
                                            <p>
                                                <span style="FONT-SIZE: 12pt" lang="EN-US">
                                                    <o:p>
                                                        <span style="FONT-SIZE: 12pt" lang="EN-US">
                                                            <o:p>
                                                                <span style="mso-spacerun: yes">
                                                                    <span style="mso-ansi-language: EN-US" lang="EN-US">
                                                                        <span style="font-style: italic; ">“New Hope Centre is like nothing else I have seen in Africa. Dr. Elizabeth Hynd is a Kingdom visionary who has seized the opportunity to help the displaced and forgotten children of Swaziland become the future spiritual leaders of their country. I encourage anyone who has given up on hope to read the inspiring story of courage, tenacity, and faith legacy of the Hynd family. It will lift your spirit and strengthen your faith in the God of the impossible.” </span><o:p>
                                                                        </o:p>
                                                                    </span>
                                                                </span>
                                                            </o:p>
                                                        </span>
                                                    </o:p>
                                                </span>
                                            </p><div>
                                                <div>
                                                    <p>
                                                        <span style="mso-ansi-language: EN-US" lang="EN-US">
                                                            <o:p>
                                                                <span style="mso-ansi-language: EN-US" lang="EN-US">
                                                                    <span style="font-style: italic; ">David Busic </span><o:p>
                                                                    </o:p>
                                                                </span>
                                                            </o:p>
                                                        </span>
                                                    </p><p>
                                                        <span style="mso-ansi-language: EN-US" lang="EN-US">
                                                            <span style="font-style: italic; ">Senior Pastor, Bethany First Church of the Nazarene </span><o:p>
                                                            </o:p>
                                                        </span>
                                                    </p><p><span style="font-style: italic; "></span></p>
                                                    <div style="MARGIN: 0cm 0cm 10pt" class="MsoNormal" align="left">
                                                        <div style="MARGIN: 0cm 0cm 10pt" class="MsoNormal" align="left"><span style="FONT-SIZE: 12pt" lang="EN-US">&nbsp;**</span></div>
                                                        <div style="MARGIN: 0cm 0cm 10pt" class="MsoNormal" align="left">
                                                            <span style="FONT-SIZE: 12pt" lang="EN-US">
                                                                <p style="MARGIN: 0cm 0cm 0pt" class="MsoPlainText"><span style="font-family: Consolas; font-style: italic; ">"I just finished reading "A Little Child Shall Lead Them" and all I can think of is "wow, what a blessing - reading it has blessed me in so many ways." You shared so much from your heart and so much about life at New Hope Centre. It brought back treasured memories of spending time with you, Tracie, and the children. And, the book perfectly describes the hope that permeates everyone there -- as I read it, I feel like I’m right there with you all, walking hand-in-hand thru life’s challenges and blessings.</span></p>
                                                                <p style="MARGIN: 0cm 0cm 0pt" class="MsoPlainText"><span style="font-family: Consolas; font-style: italic; "></span>&nbsp;</p>
                                                                <p style="MARGIN: 0cm 0cm 0pt" class="MsoPlainText"><span style="FONT-FAMILY: Consolas"><span style="FONT-FAMILY: ’Calibri’,’sans-serif’; FONT-SIZE: 11pt; mso-ansi-language: EN-CA; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-bidi-font-family: ’Times New Roman’; mso-fareast-language: EN-US; mso-bidi-language: AR-SA; mso-ascii-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-theme-font: minor-bidi">Angi Wendling, Dayton Ohio USA</span><span style="font-style: italic; ">.</span> </span></p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <p>&nbsp;**</p><span style="font-style: italic; ">Elizabeth, I have just finished reading your book. I am in awe of what you are doing with these kids. I think your British roots have given you a unique vision of structure and routine that will accomplish so much for them and for the kingdoms of God and Swaziland. You truly were chosen for this task and prepared from the foundations of the Earth to fulfill this role at exactly the right time. I want to help hold up your hands as I can. As I share with people that I am going to Swaziland many have wanted to send things with me for the kids. I’m not sure how everything is going to fit, but I’ll do my best.<br>&nbsp;<br>Every day, you and your children are in my prayers as I prepare to come. Rich blessings and love, <br>Dr. Cherry, California <br></span>

                                                </div>


                                            </div>



