@{
    ViewBag.Title = "Ministeries";
}

<div class="row">
    <div class="col-md-12">
        <div align="justify" id="content">
            <h2>
                24 Extraordinary Children, Dr. Elizabeth Hynd with Gwen Ellis ( more ...)
            </h2>
            <h4>
                Elizabeth Hynd with 
            </h4>

            <p>Here are the amazing life stories of 24 children who are survivors of unbelievable hardship, poverty, illness, and need. As members of the Abraham family of New Hope Centre, Swaziland, they are growing in faith, academics, courage, sports, music, and every other skill that will be needed for their new leadership positions in the Kingdom of Swaziland. Their stories include not only their rescue, but they also look to a bright future as the children reveal how God is leading them. Each story includes pictures of the children in their everyday life at New Hope. It also has a piece of artwork made by each child with an explanation of the significance of the work.</p>

            <img src="~/Content/Images/extraordinaryChildren.jpg" style="width:80%">
            <h3>The book is now available. Order a copy of this book today. The price is $25.00 USD plus shipping.   </h3>


            @*<form target="_top" method="post" action="https://www.paypal.com/cgi-bin/webscr"><input value="_s-xclick" name="cmd" type="hidden"><input value="TZQVJJ8YMBL9A" name="hosted_button_id" type="hidden"><input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" type="image"><img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" height="1" border="0" width="1"></form><br>*@
            
            
            <p class="MsoNormal"><span bold;"="" font-weight:="" black;="" color:="" arial","sans-serif";="" style="font-size: 10pt; font-family: " lang="EN-US">If you would like to pay by check or money order please <a href="mailto:NHCWise@gmail.com?subject=I%20would%20like%20to%20buy%2024%20Extraordinary%20Children">click here</a>. You will receive payment instructions shortly. </span></p><p class="MsoNormal"><span bold;"="" font-weight:="" black;="" color:="" arial","sans-serif";="" style="font-size: 10pt; font-family: " lang="EN-US">If you would like to order more than 10 copies for shipping to a location outside of the U.S, or more than 10 copies for shipping within the US, please contact us: </span><span bold;"="" font-weight:="" navy;="" color:="" arial","sans-serif";="" style="font-size: 10pt; font-family: " lang="EN-US"><a href="mailto:NHCWise@gmail.com?subject=I%20would%20like%20to%20buy%2024%20Extraordinary%20Children">click here</a></span>


        </div>
    </div>
</div>



