@{
    ViewBag.Title = "Wedding";
}


<h4>Wedding Noah and Lenhle</h4>

<div>

    <hr />
    <h2>Saturday December 30, 2023</h2>
    <p>On the first bright sunny hot day in over a week, family and friends gathered to celebrate the wedding of Noah and Lenhle.</p>


    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0004.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0005.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0007.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0008.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0013.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0014.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0016.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0018.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0021.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0023.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0028.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0030.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0033.jpg" />
    <img height="300"  src="~/Content/Images/Wedding/IMG-20231230-WA0037.jpg" />
</div>


