@{
    ViewBag.Title = "Esther";
}

<h1>Esther Abraham</h1>
<h6>10 November 2019</h6>
<p>Esther Abraham, the bright faithful brilliant star of the Abraham Family, was promoted one week ago to Heaven into the tender living arms of Jesus Christ, our Saviour, and is now enfolded in the bosom of our beloved Heavenly Father like a little lamb.  Truly she is the sacrificed lamb of the coming revival in our land.</p>

<img src="~/Content/Images/children/EsterA.jpg" width="200" alt="Esther" />
<span>    </span>
<img src="~/Content/Images/children/EsterC.jpg" width="400" alt="Esther" />
<span>    </span>
<img src="~/Content/Images/children/EsterB.jpg" width="200" alt="Esther" />
<p>
    Esther turned 21 this past July 26 during our Somhlolo Festival of Praise.  She was part of the Administration team registering and welcoming children from various parts of the country. How many young ladies would give their 21 st birthday to be amongst kids aged 7-14 to celebrate and learn the depth of the divine heritage of our peoples.  This “Star” also a few weeks back volunteered to join Matrine a Lukhele, a saint of the age of 78, who serves to open the way for monthly Somhlolo festival of praise revivals held in each of the constituencies and chiefdomships throughout Eswatini.  Esther said these revivals are key to the revival that is sweeping our country and she wanted to learn how to enter and approach the leadership and those in authority so that when Mattine could no longer manage, then Esther could continue in her roles of opening the way for permission and cooperation in national and community leadership.  And yet this week we are approaching those leaders for permission to bury the Star, our Esther.
</p>
<video controls>
    <source src="~/Content/Videos/EsterAbraham.mp4" type="video/mp4">
    <p>Your browser does not support H.264/MP4.</p>
</video>


<p>
    We are all in shock and not able to be coherent, not able to understand or comprehend this as a new reality.  We do know God, our Father, is good, His ways are perfect, He works all things together for good for those who love Him; we know He gives and takes away, and we bless His Holy name, while the truth has to sink into our souls, minds and hearts.

    She had gone to a wedding on Saturday, November 2, dressed like a princess, nails beautifully crimson with diamonds done by Joanna, her hair glowing with a beautiful hairpiece and dressed in a flowing peach gown she had purchased for our 14th anniversary homecoming. Everyone at the wedding and those who saw her from the community were amazed how magnificently beautiful she was.  Many expressed they had never seen her so regal.  She shared with one young man, “this is your last hug from me on earth”, while young man laughed and said, “oh I will be back from college in December for another hug,” and she smiled.  She told the neighbor Sandile, when he gave her a ride home in his vehicle after he complimented her as dazzling, that she was fine and happy but had a headache so was glad to receive the lift home.  The first unusual thing was she never sent auntie Elizabeth a message that she was home safe which is her daily custom.  At 3:30pm auntie phoned to ask if she was safely home.  She did not reply in the phone, but the housekeeper replied saying Esther had returned but she had a headache.  We advised she drink some pain killer and some oral rehydration solution then rest.  Sunday morning during church we received a message that Esther had collapsed in the bathroom. Caleb and I left our respective church services, but Caleb used the highway and arrived first while I used the mail road from Destiny International church.  We met at the Mphilo clinic in Manzini.  Dr. Finn was treating her with pain medication and migraine medication by intravenous drip. After two - three hours she was discharged to go home and rest.  At 8:38 pm I received a text message that she has passed - she was gone. Again Caleb rushed to collect her, while James and sis Ngeti rushed to the clinic while I called Dr. Bitchong for guidance in handling such a situation; he is the chief medical officer of the Raleigh Fitkin Memorial Hospital.
</p>
<p>
    Esther had arrived “dead upon arrival”, an apparent brain aneurism. How could this be?  A beautiful, lively, praying  intercessor and friend to young and old alike?  A prayer warrior who had led the opening prayer in Addis Ababa when the nations of Africa gathered at the African Union Parliament for the All African Prayer Convocation, led by Pastors Tom Hess and Langton Gatsi, International Council of Elders of All Nations Convocation Jerusalem, a faithful intercessor for her nation and the destiny of nations as a delegate twice at the All Nations Convocation Jerusalem, once with Miss Rachael from Australia, and once with Auntie Elizabeth.  A Leader, a motivator, an administrator - faithfully, holistically, and lovingly serving in all Swazi 4-14 children’s church events held monthly at New Hope Centre for three years, then monthly in the communities throughout Eswatini. Esther, the friend to children passing her house walking to and from school; Esther, hosting guests and visitors at New Hope Centre and at Elwandle Christian Guest House; Esther, the star tour guide serving Bushtours, a fledgling company taking visitors and tourists around Manzini, focusing on the city’s Christian  heritage; Esther, counsellor and listener, advice-giver and helper in all ways to siblings, friends and acquaintances young and old, giving divine wisdom, healing and strengthening guidance and direction; Esther, an overcomer in physical, emotional, and spiritual challenges - is now in Heaven being comforted, healed, strengthened in the arms of God, being prepared to serve and reign with the Almighty Sovereign Holy God Jehovah Tzevaot!
</p>
<p>
    Oh, the pain of loss, like a white great white shark has taken a chunk of our inner bellies, leaving us bleeding torn and weak.<br />
    Oh, the joy she is in Heaven with the Father and Son glorifying and being glorified in splendor.<br />
    Oh, to hold the two in place: the suffering and the glory.<br />
    As the reality slowly sinks into our hearts and minds, the Lord gave me first a picture of this little lamb gently enfolded in the bosom of our living Heavenly Father, then slowly a transformation into a resting lamb, alert, awake, intensely in humility, seated in glory, bearing her cross and the life flow of blood flowing from her heart, the lamb sacrificed for the revival of her siblings, her family both natural and adopted, her community and her nation - the Kingdom of Eswatini must become the Kingdom of God within the nations.Fulfilling her destiny as the prophetic pulpit of Africa, the small nation upon which God’s Presence will dwell, and preach through the Word and the glorious Presence of God to all nations in the Earth.

<p>
    My heart swells in pride and honour, it rejoices in the glory and faithfulness of God Almighty at work in and through the life of Esther and the Kingdom of Eswatini. May her promotion to the bosom of her Father usher in the truth and life, as we are in the times and seasons for all humankind to settle the question for ever, who do we choose to serve, honour, love and obey?  Our Savior, our Creator Yaweh?   For this choice determines our eternity...
</p>


