@{
    ViewBag.Title = "Children";
}



<h2>The Children of New Hope Centre</h2>


<!-- Portfolio Gallery Grid --><!-- Portfolio Gallery Grid --><!-- Portfolio Gallery Grid --><!-- Portfolio Gallery Grid -->
<div class="row" style="border-bottom-style:solid; padding-top:10px">
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_abigail.jpg" style=" height:250px"
                     data-val="<h2>Abigail</h2><p>Date of Birth 27th January 2000</p><br>
                <p>Abigail’s Mother and Father have died.  She had 5 brothers and one sister.  The 5 brothers are in custody of their Uncle. Abigail was in custody of her sister. This was fine until her sister was married and had two of her own children.  Abigail was then neglected and unsafe due to the brother-in-law, who did not support Abigail, did not want her and forced her out of the house to sleep outside without food, clothes or protection.  This was especially serious since her sister’s business is to sell second hand clothes at the market place and so she made frequent buying trips to Johannesburg for second hand clothes to sell. This meant Abigail was left to sleep outside, unprotected, unfed, and chased away from the homestead. The Head Master of her school identified her as a child at risk and requested New Hope Centre to investigate the situation and help the child.  We found her depressed, crying incessantly and thin.  She was not able to eat much due to being unaccustomed to having food regularly or in reasonable amounts.  She had been sexually abused and then she was  punished by the family instead of the perpetrator.  She needed a new home, a new life and new hope.</p><p>
                    Abigail is now a young adult but still in need of prayers and support.  She lives in the Young Adult ladies Bridging Home in Matsapha near the Phumelelo High School where she is studying in Form 3 or Grade 10.  School fees, books and uniforms are a challenge financially as getting part-time jobs or vacation jobs are basically impossible in this economic climate.  She is doing very well academically and still believes she will be a scientist and contribute to the welfare of people through her research.
                </p><p>
                    She is a gregarious, lively, friendly and determined young lady.
                </p>
                ">
            </a>
            <h2>Abigail</h2>
            <p>Date of Birth 27th January 2000</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_Anika.jpg" style=" height:250px"
                     data-val="
                <H2>Anika</H2><P>Date of Birth ... </P><br><P>Anika was born while her mother was in Elusitweni, womens Christian rehab centre,  the father seemed willing to take mother and baby in and provide for them but the young mothers life style of promiscuity created major conflicts.  Now the mother is living in town while Anika is now in our care.</P>  ">
            </a>
            <h2>Anika</h2>
            <p>Date of Birth ... </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_anastasia.jpg" style=" height:250px"
                     data-val="<h2>Anastasia</h2><p>Date of Birth 21st February 1998</p><p> Both her parents have died and she suffered sexual, emotional and physical abuse at the homesteads where she was sent to stay after the death of her grandmother. She ran away and returned to her homestead where her elder sister was trying to be the teenage head of household but could not afford to care for this youngest child or send her to school as she was working for minimum wage at a factory. Annastasia and her granny had attended the opening of the New Hope Centre and Annastacia had insisted the granny complete the forms to hand her over to our care in the event of her death. The family did not respect this and sent her to live in this other homestead where she was abused and finally ran away. She then insisted her sister bring her to New Hope Centre as her granny had arranged.</p> <p>Anastacia is now over 18 but still needs support as she is studying at Inkhanyeti High School in Manzini.  She is living in Matsapha in a one room flat on her own and learning to manage a monthly budget for food, transport, electricity and rent with her sponsors support.  She is doing well in Form 4 or Grade 11 and persevering her goal to be a neurosurgeon. She no longer has time for dance or music but those talents will wait for the time she comes forth and leads in her destiny.</p>" />
            </a>
            <h3> Anastacia </h3>
            <p> Date of Birth 21st February 1998</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_apphia.jpg" style=" height:250px"
                     data-val="<h2>Apphia</h2><p>Date of Birth 8th December, 2006</p><p><Apphia’s mother died some years ago, her father continues to battle the health challenges of  HIV/AIDS. Apphia was living with her grandmother in the Bethany community. She was attended our School of Happy Overcomers Preschool. She displayed serious health challenges and woulf hide in the cupboards at school refusing to return home to her grandmother. Our follow-up found a truly unacceptable situation of sexual abuse by neighbours teen and preteen boys. We attempted interventions with police and social welfare but without success until we arranged for her to become part of the Abraham family. permanently and she had a new name and a new life.</p><p>She is now physically well and a brilliant young dancer.  She is in Hope Academy Primary school and doing very well.  She needs continued spiritual, psychological and financial support as she is becoming a happily adjusted child. She is doing well in school and next year will be preparing to participate in October in the All Africa Student Convention in Bloemfontein, South Africa.  </p>">
            </a>
            <h2>Apphia</h2>
            <p>Date of Birth 8th December 2006</p>
        </div>
    </div>
</div>
<div class="row" style="border-bottom-style:solid; padding-top:10px">
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_azariah.jpg" style=" height:250px"
                     data-val="<h2>Azariah</h2><p>Date of Birth 1st May, 2009</p><p><p><br>We met Azariah with her two sisters(youngest of the Triplets, our Jewels)&nbsp; when they were only 5 weeks old. Their mum came with these precious little bundles of life&nbsp; begging us to take them, as she could not care for them or feed them. We are a children’s home for those without parents or relatives so we make every effort to find a way to support the child in their family and with their relatives. We had visitors at the time who offered to provide pampers disposables and baby formula powdered milk for the next six months of their lives. So we visited them regularly and made sure they were progressing. A nursing team from Niagara, Canada came with Melanie Stansfield and helped us with provisions and corrections in care.</p><p><br>Later that year we had their first birthday celebration giving thanks to God for the three little girls and that Jehovah Jireh had provided for them for their whole first year and they were well. It was a great lunch time party with all of our preschoolers from our home and the community plus the GO Team from Bethany, Oklahoma, USA.<br>The girls did well until they started crawling, when one of them mistakenly picked up a pot of boiling hot water that was left on the floor and poured it over her head and body as if she was bathing herself only to be scolded with the boiling water. She was severely burned and had to be hospitalized in Mankayane. This was the beginning of the overwhelming circumstances for the mum and grandmother.</p><p>They are in Hope Academy primary school and doing very well. Last year they were sponsored to attend the Hillsong Colour Conrference in Cape Town and this changed their lives. They have confidence to lead worship and pursue ballet as they love creating worship dances. We have need for financial support for them to begin swim lessons again which is vital in a country that has rivers, streams and tropical climate.  We pray for wisdom and provision to raise these three treasures in love and faithfulness, in wisdom and favour with God and Man.</p>">
            </a>
            <h2>Azariah</h2>
            <p> Date of Birth 1st May 2009</p>
        </div>
    </div>
    <div class="col-md-3">
    <div class="content">
        <a href="#" class="pop">
            <img src="~/Content/Images/children/xl_Benjamin.jpg" style=" height:250px"
                 data-val="
            <H2>Benjamin</H2><P> </P><br><P><br>Benjamin is a double orphan left with his grandmother and social workers intervened after finding the child malnourished and uncared for. He came to us allegedly two years old but physically more like a five month old.  He has been with us now several years and still has no sponsor.  He was very withdrawn when he came and has taken a long time to feel secure.  He stayed  an extra year in preschool as he needed time to master the coordination tests snd reading readiness tests. This year he started grade 2 and is mastering reading math swimming dance and is engaged in everything that is happening.  It is so good to see, He would be so grateful to have a sponsor.</P>  ">
        </a>
        <h2>Benjamin</h2>
        <p>Date of Birth ... </p>
    </div>
</div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_caleb.jpg" style=" height:250px"
                     data-val="<h2>Caleb</h2><p>Date of Birth 1st January, 1992</p><br><p><br>Both parents are dead, he never met or knew his father and was desperate for a father. He was passed from family to family and then finally to strangers where he was a slave herding the cattle. At times he would run away for days confused, void of the security of knowing a fathers love. He ran away and lived as a street kid in the capital city Mbabane but found it too much for him. He finally returned on foot walking for days to where he had last known about his father only to discover he had died in February 2004. His aunt, unemployed and having eight children of her own gave Caleb to New Hope Centre. Caleb has a call to be a pastor and he has every nature of a Shepherd.  He is passionate about children and the joy and delight of assisting children to become who they really are created to be unique and confident in their God createdness. He is a passionate worshipper and has taken the core leadership at New Hope Centre in the worship, the teaching of the Word and creating the presence of God’s Glory in our Tabernacle of Praise and the Bethany Mountain.  He serves as an usher in Potter’s Wheel Church where he is also studying towards a degree in Missions and Ministry.</p><p>Caleb is currently studying second semester of his third year of degree course in Kansas City USA at international House of Prayer</p>">
            </a>
            <h2>Caleb</h2><p>Date of Birth 1st January, 1992</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_Chloe.jpg" style=" height:250px"
                     data-val="<h2>Chloe</h2><p>Date of Birth 16th August, 2002</p><br><br>Chloe was five and a paternal orphan when she came to New Hope Centre. Her mother was suffering the last stages of HIV/AIDS and came to us for help having walked for 12km. She had attended the Somhlolo Festival of Praise thanks giving service on Sunday the 22nd July at the National Church where New Hope Centre children danced to the song 'Here comes the King of glory'. She heard that we were a home for orphaned children and so she came to bring her two children to us as she had no strength and no hope of help. She had already taken desperate measures to solve the situation and had failed. She arrived emaciated, sick and weak with two little ones in hand as she had not the strength to even carry them. Chloe is the name the Lord gave for her as it means VIBRANT and she has a vibrant and lively spirit.</p><p>Chloe believes she is called to be a nurse and so we have moved her to Kobe Advanced Academy for High School as it offers the IEB matriculation exams which will open the doors for her to university both is Eswatini and South Africa. She is a beautiful gentle, quiet young lady. We believe God has a great ministry planned for this young lady and the name Chloe is after the founder of the first house church in the city of Corinth, likewise we believe Chloe will be a pastor shepherd caring for God’s people and displaying His kindness and mercy. She will need a number of years of prayer support and financial support to reach her goal.</p>">
            </a>
            <h2>Chloe</h2><p>Date of Birth 16th August, 2002
        </div>
    </div>
</div>
<div class="row" style="border-bottom-style:solid; padding-top:10px">
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_Debrah.jpg" style=" height:250px"
                     data-val="<h2>Debrah</h2><p>Date of Birth 12th February, 1994</p><br><p>Both are parents died before Debrah came to New Hope Centre, and she suffered sexual, emotional abuse at the homesteads where she was staying. Young men and other cousins were very cruel to her and she has had much to overcome. Her granny took her in and gave her to New Hope Centre before she died. Debrah has served as an awesome young leader in our home, our camps and Swazi 4-14 Church. She preached her first sermon at the age of 12 in a thanksgiving service at the Lobamba national church to 1600 people, amazing young lady. She is truly a child dedicated to excellence in all she does. Debrah has begun to play the piano. One of her sponsors passed on to heaven and her husband shipped Yvonne’s piano out to Debrah. </p><p> Debrah volunteered in the Jerusalem House of Prayer of All Nations for her gap year and has not looked back.  She returned and ran our children’s home for 6 months as House Manager and then enter Swaziland Theological College for a degree in Theology.  This has catapulted her into an anointing of preaching for new life and revival amongst young people and throughout Eswatini.  Truly she needs support in these years for guidance for anointing and for finances as she prepares herself to be a carrier of God’s glory in the Earth.  Debrah graduated in November 2021 with a bachelor degree from the Eswatini College of Theology.  She is an amazing preacher, prophet and evangelist. She is also amazing on the piano and the harp as she is a worshiper. Psalmist and poet.  She is now serving in full time harp and bowl ministry with Jerusalem house of prayer. She will need support for this commitment for the next four years</p>">
            </a>
            <h2>Debrah</h2><p>Date of Birth 12th February, 1994</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_Elijah.jpg" style=" height:250px"
                     data-val="<h2>Elijah</h2><p>Date of Birth 30th January, 1996</p><br><p><br>Elijah is a double orphan. He has two cousins with him here at New hope Centre. He was living with his great grandmother as all his other grandparents had already died. He was severely abused physically and verbally by neghbours and his uncles in the homestead so he has had much to&nbsp; overcome but he has become a fine young man. Elijah believes God has called him to be a farmer and he has been responsible for the cows and chickens at New Hope Centre.</p>

                <p>As he has discovered his calling in life, he has been able to take steps towards the skills and has taken a few training courses he will need to be a successful farmer. His hero in life is Angus Buchan, who is a farmer in Kwa-Zulu Natal who has become a preacher and mighty evangelist. Likewise, Elijah believes God will make a way for him to have a mighty impact in the earth for the Kingdom of Eswatini and the Kingdom of God. Elijah visited his homestead and resolved much of the past.  This led to a great breakthrough for him as the family allocated his mother’s space in his traditional family homestead. The Lord has been good to him and he has built a house with two rooms.  Our maintenance man (uncle Lucky) our teenagers (boys and girls) have lent a hand to build the house. He is now praying and working towards how to build a chicken shed with a concrete floor, flat roof, electricity and water tank to harvest rain water.  He has now diversified to raise beans and pigs.   He will then begin feeding the community believing this is his calling to ensure no child ever feels hungry. He still needs support in prayer and funding as the projects are not yet at a level to sustain him.</p>">
            </a>
            <h2>Elijah</h2><p>Date of Birth 30th January, 1996</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_Ethan.jpg" style=" height:250px"
                     data-val="<h2>Ethan</h2><p>Date of Birth 23rd May, 2003</p><br>
                <p>Ethan is a paternal orphan. He is from our local Bethany community. His mother Sindi is miraculously still alive as we found her in the last stages of full-blown AIDS.  We prayed and she is well but struggles to find suitable work as she never had the opportunity to have an education. Ethan was found by divine guidance as his home was collapsing, thatch work rotted and crumbling.  He was with his dying mother and teenage brother. We took him as a toddler and his brother went to El Shaddai children’s home.  Sindi is alive but needs much support to maintain her health and strength.</p><p></p>Ethan is a delightful and responsible young man. He features on the front cover of our first book called “A little child will lead them” which you can order from the website and also on the CD of songs produced by our children and others called “The New Hallelujah” which you have to order from Swaziland. His story will be featured in our next book Volume two “24 Extra-ordinary children” to be in print shortly.</p><p></p>Ethan is a brilliant musician and wants to be a professor of music. He is schooling at Victory Christian Academy in Durban, Kwa-Zulu-Natal as he needs to obtain a good high school matriculation to enter Music Department for his degree in Music. He also needs lessons and music opportunities our community in Eswatini is too limited to provide. His Uganda music teacher has done a fine job of equipping him thus far but he needs to move beyond this to qualify for God’s gifting and talents.  He is in need of funding for music lessons, accommodation, transport and the like as he is out there is a foreign country on his own but we thank God for Pam and Graham Yoko the directors of ACE in Southern Africa as they are assisting in this transition time.</p>">
            </a>
            <h2>Ethan</h2><p>Date of Birth 23rd May, 2003</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content">
            <a href="#" class="pop">
                <img src="~/Content/Images/children/xl_Hananiah.jpg" style=" height:250px"
                     data-val="<h2>Hananiah</h2><p>Date of Birth 1st May, 2009</p><br><p>We met Hananiah with her two sisters when they were only 5 weeks old.  Triplets in a poverty stricken home with only a grandmother and mother, no father, no breadwinner. Their mum came with these precious little bundles begging us to take them as she could not care for them or feed them.  We are a children’s home for those without parents or relatives so we make every effort to find a way to support the child in their family and with their relatives.  We had visitors at the time who offered to provide pampers disposables and baby formula powdered milk for the next six months of their lives.  So we visited them regularly and made sure they were progressing. A nursing team from Niagara, Canada came with Melanie Stansfield and helped us with provisions and corrections in care. <b/>Later that year we had their first birthday celebration giving thanks to God for the three little girls and that Jehovah Jireh had provided for them for their whole first year and they were well.  It was a great lunch time party with all of our preschoolers from our home and the community plus the GO Team from Bethany, Oklahoma, USA. The girls did well until they started crawling, when one of them mistakenly picked up a pot of boiling hot water that was left on the floor and poured it over her head and body as if she was bathing herself only to be scolded with the boiling water.  She was severely burned and had to be hospitalised in Mankayane.  This was the beginning of the overwhelming circumstances for the mum and grandmother.  We tried to get help from the Social Welfare Officers in Manzini but finally their Mum was totally overwhelmed and wanted to kill herself.  The time for action had come and we took the three little girls.</p><p> Hananiah is an amazing singer and leader of worship. She is now in Hope Academy primary school and doing very well. She needs funding for her schooling and her dance lessons as well as her regular support. She will be a wonderful inspiration as she grows into leadership</p><p>Hannaniah is an amazing young lady who excelled in everything whether it be story writing, poetry, creative art, drama, singing, cooking it any chores and assignments.  She is in Hope Academy and won top scores in the 2022 ACE Student convention.  She wrote a story. Transformed it into a short drama , then directed her siblings in the production of the drama on stage in our Tabernacke of Praise. She is an amazing leader and worshipper sincerely and deploy growing in her faith in Father, Son and Holy Ghost</p>" >
            </a>
            <h2>Hananiah</h2><p>Date of Birth 1st May, 2009</p>
        </div>
    </div>

    <div class="row" style="border-bottom-style:solid; padding-top:10px">
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Hephzibah.jpg" style=" height:250px"
                         data-val="<h2>Hephzibah</h2><p>Date of Birth 7th August, 2005</p><p>Her mother is dead but her father is unknown as the mother became pregnant and never told anyone who the father was.  Her grandmother is alive but unable to care for this little girl.  Her aunt came to us in desperation as she had her own children and several other orphaned children from other deceased siblings.  The situation showed that she was both love-starved and food-starved.  She was clean but very thin and very scared.  In the few years she has been with us she has opened up and reveals her delightful personality. She is a superb student in school and very outgoing and confident. Her name means “God’s delight” and truly this little one is beginning to walk in being a delight to all in heaven and on earth.</p><p>Hepzibah has won a nomination at the All Africa Student Convention in Bloemfontein, South Africa, to represent Africa in the International Student Convention to be held in Missouri USA this summer.  Her nomination came from her excellent Creative Writing Essay.  In the coming years she will need to move from Hope Academy to another school that can take her forward academically and will need financial and prayer support until she reaches her college degree.</p>">

                </a>
                <h2>Hephzibah</h2><p>Date of Birth 7th August, 2005</p>
            </div>
        </div>


        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Huldah.jpg" style=" height:250px"
                         data-val="  <h2>Huldah</h2><p>Date of Birth 7th August, 2005</p> <p>Huldah is a double orphan and comes from a child-headed family of 5 children.  The eldest girl aged 13 had dropped out of school in grade 7 to try to find work to support the children.  The Head teacher of the school and teachers identified the other two children (aged 8 and 11) to come as siblings to our 2012 December Hope Camp which is a psychosocial week-long camp for 8 to 12 year olds.  The Operation Hope Youth Leader at the school was concerned that the younger two girls would be left totally alone as the 13 year old had gone searching for work. Thus the process began to try to find ways to care for these two younger ones. The older siblings begged that we take these younger ones as they were at a loss how to care for them. No adult relatives could be found.  The chief’s messenger(umgijimi) was the only person who had known the parents and other relatives all of whom are deceased. He assisted in processing these two little girls.  Huldah shows serious signs of malnutrition and maladjusted behaviour and needs much love and prayer.</p>
                    <p>Huldah has started in primary school and we have had her tested and counseled at the National Psychiatric Hospital.  She struggles to concentrate and is clearly a slow learner. We have to depend on prayer and divine intervention to heal the effects of malnutrition and deprivations of stimulation and developmental handicaps.  We need miraculous intervention for her abilities.  She is however a pleasant, sweet and helpful young preteen.</p>">
                </a>
                <h2>Huldah</h2>
                <p>Date of Birth 7th August, 2005</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Izak.jpg" style=" height:250px"
                         data-val="<h2>Izak</h2>
                    <p>Date of Birth 7th August, 2003</p> <p>The son of Izak’s neighbour came one morning and reported that he had spent the weekend at his parents homestead and was totally distressed about the conditions of this little boy. He had sores in his eyes that were bleeding, he was being abused by his grandfather who is an alcoholic. Upon investigation we found that truly this child was sick with sores in his eyes all over his head and body, the story was that his grandfather would be drunk for days and would either not come home at all, leaving the child to fend for himself outside without any food or shelter or he would return in a rage and beat the child needlessly. Both his parents had died in the past few years and he has no other living relative according to the investigations we were able to make. We took him to a medical officer to have his health condition assessed. The doctor was astounded to find such neglect in this day and age. The child had not had any hygienic or nutritional care and lived with in great fear. </p><p> We then processed Izak through Social welfare. When we found the grandfather to sign over the guardianship of the child he confessed that he was really unable to care for the child since his wife had passed away and so he would be more than relieved for someone to relieve him of this burden. He came only once to visit Izak before he passed away but the child was obviously not thrilled to see him and was afraid he was going to be taken away. Since then he has really blossomed and become more confident to express himself as he is now secure in the knowledge no-one can take him away for his new home, his new family and his new life. He is now serving as caregiver to the two youngest boys in our home while he continues as a student in Hope Academy.  It was awesome to see him last October at the All Africa Student Convention when he won a nomination to the International Student Convention to represent all the African Accelerated Christian Education schools in Warrensburg Missouri, USA. He had faithfully trained in fitness  and track so he won a nomination in the 1600 meter track event and he will be flying to the USA in May 2019. Izak has completed the one year training course at MITC in Manzini.  Currently he is interning with various artisans in Carpentry and painting.  He is such a delightful young man. Respectful and responsible taking his jobs seriously and doing them with care striving for perfection.</p> ">
                </a>
                <h2>Izak</h2>
                <p>Date of Birth 7th August, 2003</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_James.jpg" style=" height:250px"
                         data-val="<h2>James</h2><p>Date of 12th November, 1997</p> <p>James is a double orphan. He had six other siblings, who remained with his great grandmother, who was old and not able to care for all of them. She has subsequently died.  She was caring for two of James cousins who are now at New Hope Centre with him. James is quiet and attentive to the needs of others. He likes riding bicycles and playing soccer. He is an amazingly gifted artist in painting, sculpturing and jewellery design.</p> <p>James has fallen in love with horses since we had a Hope Camp in the Mlilwane Game Reserve a few years ago. He is praying for a brown horse that he wants to call David. He has been a member of both the national swim team and the national fishing team. He is doing well at all he sets his mind to do and God is bringing Him into a place of respect and influence in the family and the school. He has officially become a member of the Potter’s Wheel Church and is a member of their worship team. He participates in the Young Adult group and has flourished in his faith and confidence.  This past year he has served as driver in our home while training in soccer and fitness. In August 2019 he will fly to USA where he will try out for the L A Galaxy soccer team.  He needs much support in financing his ticket and in prayer for his training provision, his success and nomination to the team as he will be a superb ambassador for the kingdom of God in this team. </p>  ">
                </a>
                <h2>James</h2>
                <p>Date of 12th November, 1997</p>
            </div>
        </div>



    </div>
    <div class="row" style="border-bottom-style:solid; padding-top:10px">

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Jedidah.jpg" style=" height:250px"
                         data-val="<h2>Jedidah</h2>
                    <p>Date of Birth 8th July, 2003</p> <p>Jedidah came to us because of a kind man who was troubled when he saw this baby left under a tree as he passed by in the bus going to work every day. He came to New Hope Centre and Auntie Caroline went with him to find the child. She found her under the tree sitting alone, unable to talk, unable to walk, unable to crawl, her hips, pelvic bones and back distorted from sitting, her body the size of a 5 month baby and no one to care for her. From the community reports and the condition of her teeth we ascertained she was two years old. Her family had all died one by one, the people in the community who had taken her had died, and the people who had then taken her in could no longer cope so they left her to herself and God intervened through this young man and New Hope Centre. Caroline processed all the legal papers and Dr Samuel Hynd examined her to find she was very weak, malnourished and would have died in days if the Lord had not intervened through this man. Her X-rays showed she had been eating handfuls of dirt to satisfy her hunger. Jedidah is her name and means “Gods darling”, as we believe the Lord is delighted in her and loves her so much as to make a way for her life. </p> <p>Jedidah is now in Hope Academy and has learnt to read and write. This has opened for her a whole new joy in life, she is able to read the Bible and so begin to lead Bible study times in the house, teach in chapel and preach in the community or anywhere she goes. She has shared the story of her short life in our book entitled “A little child will lead them” which can be ordered from the website. She has shared more of her dreams of her destiny in our book  called” 24 Extra-ordinary Children” is already for sale through website or on order from wendyweisingscs@gmail.com.</p> <p>Jedidah is called to be a pastor and she has already been to Harare in Zimbabwe to share her story and encourage others at the One Way Ministries annual conference, she has been to East London in the Eastern Cape in South Africa on two one week ministry trips with Tracie, Caleb, Jemima, Ethan, Joseph and Titus. God is already using this young lady mightily. She needs much support in prayer as her body still needs a complete healing, she needs provision to prepare herself for her calling as a minister of God and to build her church in the area called Ezulwini Valley which means the “heavenly valley”. Investing in her life will be investing in the lives of a multitude of orphans and those in need. </p> ">
                </a>
                <h2>Jedidah</h2>
                <p>Date of Birth 8th July, 2003</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Jemimah.jpg" style=" height:250px"
                         data-val="    ">
                </a>
                <h2>Jemimah</h2>
                <p>Date of Birth 1st January, 1992</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Jesse.jpg" style=" height:250px"
                         data-val="<H2>Jesse</H2><P>Date of Birth 1st February, 1998</P><br><P>His mother died in February 2004 due to Cardio Respiratory failure, AIDS related. His father heard about New Hope Centre and from his hospital bed called the police to collect us and so arrange for his children to come and live with us. We found the two boys living as street kids, abandoned by everyone, eating grasshoppers, sundried frogs they would catch and on the fence to dry out and drinking from the puddles in the road. Jesse was covered in sores and ringworm all over his body.</p><p> Now his skin is healed, he is happy and so gifted in music and in school work, a brilliant child. His father sadly died of full blown AIDS.</p><p>Jesse loves to play soccer, ride bikes, climb trees and entertain folks with imaginative stories. He is developing into a brilliant musician. He excels in drums and has just been given a second hand saxophone which he loves but has to be repaired before it works properly. His dream is to lead worship, to hold praise celebrations in the communities and streets to bring praise and worship into everyday life and also to be a business man with a music school and music equipment shop. He wants to be able with his business to build refuge homes in the cities of Africa for street kids who have no where to feel safe, cared for and loved.</p><p>Jesse has become a swimming teacher for young children in Mbabane.  He has a challenge as the swim season is only from September to March each year.</P>">
                </a>
                <h2>Jesse</h2>
                <P>Date of Birth 1st February, 1998</P>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Joanna.jpg" style=" height:250px"
                         data-val="  <H2>Joanna</H2><P>Date of Birth 22nd October, 1998</P><br><P><br>Joanna is a double orphan, both parents dead. She stayed in three different homesteads, and then she went to live with her granny. Her granny gave her to New Hope Centre. Joanna is an amazing blessing she has the gift of helps and a wonderful servant heart. She anticipates peoples needs and happily helps with much wisdom.</P><P><br>Joanna is now a confident teenager living in our teenage girls house. She has a passion for singing and praise and worship. She is praying for a voice teacher or voice lessons so she can develop her talent and become an international singer. Her dream is to use her talent to hold concerts that encourage people and bring hope into peoples lives. Her commitment is to have a ministry to help Prostitutes as God has touched her heart of understanding for the young women she sees along the road who display such hopelessness and lostness in life. God provided for her to go with Rachael Holt our Australian volunteer to visit rehabilitation centres for these young women in Cambodia.  Recently we approached the Government here in Swaziland to allocate land for her to begin a rehabilitation Centre.  Pray with us for this allocation and provision of all the resources she needs for this ministry</P>  ">
                </a>
                <h2>Joanna</h2>
                <p>Date of Birth 22nd October, 1998</p>
            </div>
        </div>

    </div>

    <div class="row" style="border-bottom-style:solid; padding-top:10px">
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Joel.jpg" style=" height:250px"
                         data-val=" <H2>Joel</H2><P>Date of Birth 1st October, 1996</P><br><P><br>Joel is a double orphan and, suffered emotional abuse at the homesteads where he was staying, especially from the hands of one uncle. This makes it difficult for him to trust. His granny took him in and gave him to New Hope Centre before she died. Joel likes playing with cars, riding bikes and he wants to be a pilot so he can be a preacher flying to remote places to share the gospel. He excels in school and is an avid reader of the Word of God. He loves telling Bible stories.</P><P><br>Joel’s career path is leading him to become a commercial pilot. His sponsor has contributed $10,000 that will allow him to complete his private pilot’s license.  He is now in school in Nelspruit boarding at the Flying School and attending highschool daily. He is moving forward in favour with God and man.</P>   ">
                </a>
                <h2>Joel</h2>
                <P>Date of Birth 1st October, 1996</P>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_John.jpg" style=" height:250px"
                         data-val=" <h2>John</h2>
                    <p>Date of Birth 1st November 1999</p> <p>John is a double orphan. He was staying with his grandmother and separated from all his other siblings. No one cared for John and he has had much to overcome, but he is today a delightful young man. He has an incredible love and grace for the other little children in the home and cares for them showing them love and helping them adjust to life at New Hope Centre. He has a true pastors heart. John likes playing with cars and slides, and likes eating chicken and rice. His pastors heart has led him to be a cowboy and he is now learning to care for all the livestock.  He is great in drama and leadership so it will see how God will develop this heart of compassion. </p> ">
                </a>
                <h2>John</h2>
                <p>Date of Birth 1st November 1999</p>
            </div>
        </div>


        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Josiah.jpg" style=" height:250px"
                         data-val="  <H2>Josiah</H2><P>Date of Birth 7th January, 2006</P><br><P><br>Josiah was 8 months old when he came to New Hope Centre. He came as a paternal orphan with his sister Chloe. The day he came it was a Sunday night and he arrived tired, hungry and bewildered. Ms Lindsay took the little one to care for him while we made arrangements as he is younger than we have ever taken before. God had provided the necessary diapers, baby clothes and toys for her to be able to help him that very night. He is now in Primary School. He is now the youngest boy in the house and feels alone and left out often times as his body is just not ready for the sports and activities of the older boys. He is named after the youngest King of Israel and we trust he will grow in confidence and the knowledge of Gods will for his life.</P>  ">
                </a>
                <h2>Josiah</h2>
                <p>Date of Birth 7th January, 2006</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Joseph.jpg" style=" height:250px"
                         data-val="  <H2>Joseph</H2><P>Date of Birth 31st December, 2002</P><br><P><br>Both of his parents are alive to our knowledge. His father abandoned the child in the womb and the mother, Yvonne, is mentally and psychologically disturbed with multiple illnesses and HIV positive. The baby and mother came to us one evening having been picked up along the road by a stranger who saw Yvonne having an epileptic fit. We took her to the hospital where she was diagnosed HIV+ with meningitis and presumed to be a certain death case within days. She prepared for her death giving Joseph to us to care for him as she is an orphan with only a very old grandfather surviving. We prayed for her as a family and she recovered. She is now living in South Africa. Joseph had  been terribly abused verbally and physically by his grandfather and cousins as Yvonne could not stand for her own rights nor for her baby’s. They terrorized her into believing she would murder her own child and so she is afraid to try to care for the child herself. He is growing in wisdom and in favour with God and man.  He has up a leadership role in the Childrens Home as he is now the senior child.  Many times he takes the responsibilities of the Big Brother in the home exercising wisdom and dealing with issues between siblings with wisdom beyond his years. He is very intelligent but struggles to focus on school work as there is always other things of interest that he would prefer to do.  Pray for him that he uses his talents academically as well as socially.</P><br><br>  ">
                </a>
                <h2>Joseph</h2>
                <p>Date of Birth 31st December, 2002</p>
            </div>
        </div>


    </div>

    <div class="row" style="border-bottom-style:solid; padding-top:10px">
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Judith.jpg" style=" height:250px"
                         data-val=" <H2>Judith</H2><P>Date of Birth 4th November, 2000</P><br><P>Judith came to us one morning with her father in a taxi. Her father was barely able to walk or talk from weakness due to full-blown AIDS. He was her last living relative and had been discharged from the hospital for a day to find a place for the child. He had been in hospital for several months, barely alive, suffering from AIDS. A few months earlier Judith’s aunt had died and the neighbors had brought her to the hospital where her father was. The little girl had to sleep on the floor under his bed and live in a male medical ward full of very sick men, many of whom are in the very painful dying stages of AIDS. Not an ideal place for a little girl. She came to us a little bewildered with life, but a brave little one. The Lord laid the name Judith on our hearts for her as Judith was a brave young woman that took action all alone to save the nation of Israel when no other man or woman had the courage. She is now a teenager and has recently come into her own.  She sees her calling in life as a teacher of little children and she wants to have a place for children to grow and develop in confidence and in love and in the knowledge of God’s destiny for their lives.  We are certainly proud of the great leap forward in her life.</p> ">
                </a>
                <h2>Judith</h2>
                <p>Date of Birth 4th November, 2000</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Keturah.jpg" style=" height:250px"
                         data-val="<H2>Keturah</H2><P>Date of Birth 16th June 2007</P><br><P><br>Keturah is a double orphan and is the youngest from a child-headed family of 5 children. The eldest girl aged 13 had dropped out of school in grade 7 to try to find work to support the children. The Head teacher of the school and teachers identified the other two children (aged 8 and 11) to come as siblings to our 2012 December Hope Camp which is a psychosocial week-long camp for 8 to 12 year olds. The Operation Hope Youth Leader at the school was concerned that the younger two girls would be left totally alone as the 13 year old had gone searching for work. Thus the process began to try to find ways to care for these two younger ones. The older siblings begged that we take these younger ones as they were at a loss how to care for them. No adult relatives could be found. The chief’s messenger(Umgijimi) was the only person who had known the parents and other relatives all of whom are deceased. He assisted in processing these two little girls. Keturah shows serious signs of malnutrition and withdrawal behaviour and needs much love and prayer. She is registered in Preschool and needs individual attention as she makes these transitions in life.</P> ">
                </a>
                <h2>Keturah</h2>
                <p>Date of Birth 16th June 2007</p>
            </div>
        </div>


        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Keziah.jpg" style=" height:250px"
                         data-val="
                    <H2>Keziah</H2><P>Date of Birth 1st September, 2001</P><br><P><br>Keziah’s mother was a widow and worked as a volunteer at New Hope Cente until she died. She had two children Keziah by her husband and another son by an earlier relationship. Keziahs’ grandmother was distraught as she had no means of support these two children now that her daughter had died.  She brought Keziah(her names means the fairest in the land) to come and stay with us. She is a  highly talented and clever young lady having just moved from the Childrens home to the Teenage Girls house. Her grandmother recently passed away which was a big challenge for Keziah as the two of them were great friends.  She wants to be a professional dancer and have her own school of Dance, that is much needed in Swaziland since we have no place at present.  She has persistd and excelled in ballet even leading and motivating other kids only living relative has clever little girl, misses her granny very much but we thank God she was spared of many of the sufferings and abuses that happen once the parents are deceased. She is a delightful, talented in singing and dancing and excelling in primary school.</P>   ">
                </a>
                <h2>Keziah</h2>
                <p>Date of Birth 1st September, 2001</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Karen.jpg" style=" height:250px"
                         data-val="
                    <H2>Karen</H2><P> </P><br><P>
                        <br>Karen came to New Hope Centre as a daytime preschooler in Happy Overcomers Preschool in January 2016 at the age of 2 referred to us for assistance through one of our former preschool teachers, Miss Zanele. Ms Zanele was working for Khulisa Umtfana, an organization initiated by the Queen Mother to focus on the well-being of children throughout the communities. Karen, along with her four older siblings were living in a mud house that looked like it was about to collapse.  They had been abandoned by their father and then their mother fled to find a man to support her as she had no means to care for herself or her six children.  The elder sister aged 15 was trying to support her siblings by renting out her body for less than a dollar per night with various neighbourhood men.  Two of the older boys were developing skills in robbery and theft to try to meet the family needs. Once Ms Zanele knew of this destitute family of children she contacted us to intervene and engaged the Social Welfare Department.  Initially the Government wanted us to support the six siblings in their homestead so they would not lose their family property. The three young ones were collected daily to attend our preschool while the older three were placed in community schools. A friend of ours in California heard about this story and sponsored the construction of a simple concrete block “house” with three rooms; one for the three girls and one for the three boys and one for cooking in the centre.
                        This was a cumbersome solution but we attempted to follow the Social Welfare guidelines until one morning we found Karen delirious with pain and fever, one of the boys had tripped and poured boiling water of the child and she was seriously and severely burned.  They had no cellphone and no means of contacting us for help all through the night.  We rushed her to hospital where she was treated but there is relatively little nursing care in hospital so we took her home to stay with us and we would take her daily to hospital for her treatments and medication.  The other two preschoolers went hysterical when it was time to go home that first night and every night for a few days until we informed Social Welfare that it was best we took all three children temporarily while this child recovered. After five months this was not really possible. They were now family members.
                        Karen is one of our brightest children with a beautiful smile and such a delightful child to be around and to watch her grow. She really has taken New Hope Centre and made it her home. She is currently taking Music classes with Mr. Steve, she loves dancing and singing and show talent in both. Karen is currently excelling in Hope Academy academically and socially however she is in need of support both financially and through prayer. As a home we are determined to help her become the leader that God has destined her to be, but we cannot do it without your help and support.
                        May God bless you as you consider and pray for a way you can partner with us in making sure that Karen has a bright future.
                    </P>  ">
                </a>
                <h2>Karen</h2>
                <p> - </p>
            </div>
        </div>
    </div>

    <div class="row" style="border-bottom-style:solid; padding-top:10px">

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Levi.jpg" style=" height:250px"
                         data-val="
                    <H2>Levi</H2><P>Date of Birth 7th July, 2001</P><br><P><br>Levi arrived at New Hope Centre with his little sister, from a very poverty stricken family. The widow woman with them claimed to be the mother and was distraught, despairing and starving. She claimed they had no relatives and she alone was left with no-one and no where to turn to for help. We noted both children had evidence of physical abuse and intimidation. The children showed immense fear and distrust. We considered their situation as seriously in need of intervention to rescue their young lives and give them a safe home and a future. We were able to assist the woman with food for some days through a gift of Food for Hungry Kids from the Southbrook Christian Church in Ohio. The woman has begun to attend the local Assemblies of God Church and is showing signs of recovery as a person. Her husband worked in the mines and died after a long sickness which means if she is not treated she will follow him in a short while. The situation developed that Levi was to loose his homestead unless someone lived there, so he and his older sister moved to the mountainous homestead and New Hope Centre reroofed and restored the two rooms they could live in and registered Levi back at St Bernard School.  The Operation Hope Youth Leader watches over the family and we continue to provide food and schooling needs although he is no longer living at New Hope Centre.</P><P><br>Lydia is from the eastern part of the country and came to us by the referral of a local pastor. She was living in very rough conditions for a little girl and she suffered much sexual, emotional and physical abuse from her uncles in the homestead.. Lydia has developed a special love for and ability to understand little ones.  She is presently in training as a preschool teacher on a part-time basis while she helps in our preschool each morning for practical experience.  She loves to sing and often leads worship.  </P>  ">
                </a>
                <h2>Levi</h2>
                <p>Date of Birth 7th July, 2001</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Lydia10.jpg" style=" height:250px"
                         data-val=" <h2>Lydia</h2>
                    <p>Date of Birth 10th April 1997</p> <p>Lydia is from the eastern part of the country and came to us by the referral of a local pastor. She was living in very rough conditions for a little girl and she suffered much sexual, emotional and physical abuse form her uncles in the homestead. She is a very slender, tall, beautiful young lady, potentially a model. She is artistic and would love to be a fashion designer. She needs much love and tender care to recover her confidence. She loves to sing and often leads worship, she is a good swimmer and needs much prayer to overcome concentration difficulties when it comes to school work. </p> ">
                </a>
                <h2>Lydia</h2>
                <p>Date of Birth 10th April 1997</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Matthew.jpg" style=" height:250px"
                         data-val="
                    <H2>Matthew</H2><P>Date of Birth 24 January, 2003</P><br><P><br>Matthew’s father, uncles and aunts are all deceased. His mother had full blown HIV/AIDs. His indigent grandmother is a hawker at the petrol (gas) station a few miles from New Hope Centre. She has become desperate as she is the only living relative besides his sick mother. She earns barely enough to feed herself as she sells snacks and fruits at the side of the road. If she were hit by a car and killed or injured they would be destitute. He is a sweet and quiet boy who we believe will grow to have a heart of faithfulness, love and wisdom as Jesus disciple Matthew. He is doing very well in school and wants to be a business man. His first endeavour has been to raise mangoes and avocadoes from seeds and then sell the young fruit trees in the community.</P> ">
                </a>
                <h2>Matthew</h2>
                <p>Date of Birth 24 January, 2003</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Miriam.jpg" style=" height:250px"
                         data-val="
                    <H2>Miriam</H2><P>Date of Birth 26th November, 2001</P><br><P><br>Miriam and her brother came in one day. They are from Manzini in central part of Swaziland. Two old grannies arrived at New Hope Centre in dire straights, saying they had tried to care for these two children who come to them like stray dogs from the street. The grannies had tried but they could not manage their own grand children plus Miriam and her brother. The children were desperate as both their parents were deceased and their only living relative was a n alcoholic and violently abusive grandfather</P><P><br>Miriam is excelling academically and in every way. She loves to swim, do ballet, sing, do dramas, draw and make cards for her friends and sponsors. She is choreographing drama dances and is taking ballet lessons. She is wanting to be a fashion designer and God has provided her a sewing machine and she has been given some funds to purchase fabric.  We are proud to see her develop her creativity. She has just recently moved up to the Teenage girls house and is maturing well in her new environment.  She is an active member of the worship team.</P>   ">
                </a>
                <h2>Miriam</h2>
                <p>Date of Birth 26th November, 2001</p>
            </div>
        </div>

    </div>

    <div class="row" style="border-bottom-style:solid; padding-top:10px">
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Mishael.jpg" style=" height:250px"
                         data-val="
                    <H2>Mishael</H2><P>Date of Birth 1st May, 2009</P><br><P><br>We met Mishael with her two sisters when they were only 5 weeks old.  Their mum came with these precious little bundles begging us to take them as she could not care for them or feed them. Triplets is a handful for anyone. We are a children’s home for those without parents or relatives so we made every effort to find a way to support these children in their family and with their relatives.  We had visitors at the time who offered to provide pampers (disposables) and baby formula powdered milk for the next six months of their lives.  So we visited them regularly and made sure they were progressing. The nursing team from Niagara, Canada came with Melanie Stansfield and helped us with provisions and corrections in care. Later that year we had their first birthday celebration giving thanks to God for the three little girls and that Jehovah Jireh had provided for them for their whole first year and they were well.  It was a great lunch time party with all of our preschoolers from our home and the community plus the GO Team from Bethany, Oklahoma, USA.  The girls did well until they started crawling, when one of them mistakenly picked up a pot of boiling hot water that was left on the floor and poured it over her head and body as if she was bathing herself only to be scolded with the boiling water.  She was severely burned and had to be hospitalised in Mankayane.  This was the beginning of the overwhelming circumstances for the mum and grandmother. </P><p><br>We approached the Social Welfare offices in Manzini for their assistance to process the children to be assigned to New Hope Centre until they are 18 years of age like our other children. But they took time and many home visits.  On the weekend of our national Independence celebrations Ms Rachael and Sis Tandzi went to their home and collected the three darlings and all their earthly belongings.  They are now starting school with the ABC class of Hope Academy. We pray for wisdom and provision to raise these three treasures in love and faithfulness, in wisdom and favour with God and Man.</p>    ">
                </a>
                <h2>Mishael</h2>
                <p>Date of Birth 1st May, 2009</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Moriah.jpg" style=" height:250px"
                         data-val="<H2>Moriah </H2><P></P><br><P>
                        <br>Moriah is a paternal orphan in that her father is reportedly to have died and left her mother and five siblings destitute. The mother then abandoned the children as she had no means of supporting them or herself. She is alive but is not able emotionally, financially or psychologically to care for her children. Moraih came to New Hope Centre in January 2016 as we were called by Ms Zanele a Former preschool teacher to assist with this destitute family she had come across in the community through her work with Khulisa Umtfana(Raising a Child). along with her younger siblings.  We first worked along side the Social Welfare who wanted the child headed family to remain in their collapsing mud home so that they would not loose their family property since their mother had now been taken by another man.  The three youngsters were collected daily by the New Hope Centre vehicle so they could attend Preschool starting with breakfast, a bath and then school.  We would then return them home in the evenings in our vehicle.  This was costly and cumbersome but God kindly provided through a Californian friend of ours to build them a three room concrete block house for safety from the environment. This ended when the youngest child was accidently burned severly when one of the boys tripped carrying the boiling hot cooking pot and poured this all over the child.  In the morning when we collected them for school this 2 year old was delirious in severe pain and burning fever. Moriah and her brother would not be separated from the little one and screamed and fought us each day trying to remain with Karen at New Hope Centre.  After trying for a few days we informed the Social Welfare workers that this was not workable and we proceeded with taking them officially into New Hope Centre
                        Moriah is a delightful young girl with a passion for art. She finished preschool and struggled with starting literacy and math but we had a volunteer art teacher, Ms Sandy, from Taiwan who opened Moriah’s world of excellence and passion. One day during Shabat Auntie was sharing on how Gods spirit dwells in us when we invite him into our lives and with that suddenly Moriah found herself.  She believed.  She knew in one of those “suddenlies” that if God was in her there was nothing she could not do. She is Now taking music with Mr. Steve, our Music teacher and is pressing forward in all her school work. She has begun to have more confidence and is able to speak and answer questions without breaking down into floods of tears.  Truly God is at work in the redemption of her young life and she needs support financially, socially, prayerfully and spiritually to fulfill her purpose in life. We need your help and request that you [ponder pray and meditate about coming alongside and helping us help her to be who she was created to become, a leader in the midst of many who need help and faith to know they can make it through with God’s help and people’s help.
                        May God bless you.
                    </P> ">
                </a>
                <h2>Moriah</h2>
                <p> - </p>
            </div>
        </div>




        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Naomi.jpg" style=" height:250px"
                         data-val="
                    <H2>Naomi</H2><P>Date of Birth 20th May, 2002</P><br><P><br>Naomi was five years old when she came to New Hope Centre, a double orphan. Her great grandmother walked all the way to New Hope Centre when she could no longer physically, emotionally and financially care for this child. The great grandmother reported that all of her children and their children had died. She had managed to find people to take care of her older great grandchildren, but could not find a home for Naomi. No one in the community would take Naomi, as she was not yet strong enough to work or care for other little ones. When Naomi saw our home she was delighted and so happy to have adopted siblings and friends with whom to play.  Her grandmother died and it was a challenging time for her but she has pulled through that dark period and will soon be moving up to the teenage girls house at the end of this first school term.  She has joined the Swazi Children’s Mass Choir and they have just cut their first CD.  It can be ordered by contacting our email address newhope@swazi.net</P>  ">
                </a>
                <h2>Naomi</h2>
                <p>Date of Birth 20th May, 2002</p>
            </div>
        </div>


        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Nehemiah.jpg" style=" height:250px"
                         data-val="
                    <H2>Nehemiah</H2><P>Date of Birth 1st November, 2006</P><br><P><br>This little boy lived with his sister and his grandmother near New Hope Centre. His granny is alcoholic and does not cope with life very well since she is HIV positive and on Antiretroviral Therapy. She has no home and was living with another old lady who was her friend. The old lady who was her friend was the real person caring for the children but she died it  created a serious crisis for this fragile family. The grandmother and four grandchildren were all made homeless. The oldest girl is finished school and is living with some friend of hers. We met her once but she was reticent to share the details of her life. The other child is studying in at Lobamba National High School and we have not met her so have not been able to be involved in her life. When the grandmothers friend died they all lost their accommodation and their friend. This left the granny and two children homeless and with no action plan for survival. She and the granny friend had been coming for help at New Hope Centre for about two years. We had provided food, clothes, blankets and medical assistance until the loss of their accommodation made this help insufficient When they came up after the death of the granny friend Nehemiah showed signs of physical abuse from beatings and behavioural abnormality from shoutings and verbal abuse, He had a swollen face from seriously swollen glands.</P><P><br>We immediately took him to the Bethany Scutt Jubilee clinic for treatment and medications. He has improved physically and has done tremendously in overcoming and healing from the abusive world where he once lived. He is learning much about the love of God and family life.  He is becoming a confident young leader and is a member of the Swazi Childrens Mass Choir. He is excelling in grade school and moving ahead speedily in the ACE PACES programme</P>   ">
                </a>
                <h2>Nehemiah</h2>
                <p>Date of Birth 1st November, 2006</p>
            </div>
        </div>
    </div>
    <div class="row" style="border-bottom-style:solid; padding-top:10px">


        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Noah.jpg" style=" height:250px"
                         data-val="
                    <H2>Noah</H2><P>Date of Birth 2nd August, 1995</P><br><P><br>Noah’s mother died in February 2004 due to Cardio Respiratory failure, AIDS related. His father was in hospital dying of full blown AIDS when he heard of New Hope Centre. Noah’s father asked the police to contact New Hope Centre, so that we could collect his two boys from the streets where they had been abandoned. He wanted to make sure Noah and his little brother Jesse were loved and cared for. He wept bitterly when he knew they would be raised " "in the church, and know God" ". Noah is growing in the Lord and in wisdom, He has a very tender heart. Noah is an excellent dancer and superb swimmer. Noah has a dream to use his sporting abilities to reach out to other young people with the Good news of how to be born again and have abundant life. He is coaching his younger brothers and sisters at New Hope Centre and has the opportunity once again to swim in the Olympics in Brazil.  The last time he was not able to enter the official swim galas to record his qualifying times.  This time he is in Swaziland and will be able to participate in all the galas.  He is coach and he is a swimmer, two of the other boys are competing to be selected for the Olympics as is Joanna.</P>  ">
                </a>
                <h2>Noah</h2>
                <p>Date of Birth 2nd August, 1995</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Philippa.jpg" style=" height:250px"
                         data-val=" <H2>Phillippa</H2><P>Date of Birth 11th August, 1997</P><br><P><br>With both parents dead, Philippa was given to an old lady in another community, to look after the old lady. This old lady died and Philippa was daily going to a Christian woman’s home to get food. This Christian woman tried to find someone in the community who would care for the child. No-one would take in the child so the woman took her to one of the Queens of our former King Sobhuza who is a Godly old lady. Queen LaZwane immediately contacted us to see if we could take this destitute child. Philippa is quiet but very clever and longs to be preaching and telling others of the love of Jesus and the mercy of God.</P><P><br>Phillippa is a bright, motivated young woman and is now at Penryn College, one of the top five colleges in South Africa. She feels that the Lord is calling her to be a medical doctor and has been given the skills to succeed. When she is eligible she will apply for whatever scholarships are available to her.</P>   ">
                </a>
                <h2>Phillippa</h2>
                <p>Date of Birth 11th August, 1997</p>
            </div>
        </div>




        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Phoebe.jpg" style=" height:250px"
                         data-val="
                    <H2>Phoebe</H2><P>Date of Birth 6th September, 1998</P><br><P><br>Phoebe is from the Eastern area of the country. She is a double orphan since both parents have died. She and her brother lived with their grandfather until their pastor called us to inform us the grandfather had had a stroke and could no longer care for the children. The old man was desperate to give the children a hope and a future. He had no other children of his own with whom to leave the children. The children were referred to us by the local pastor who wept on the phone when we contacted him back to inform him that we could take the children. Phoebe is a happy girl and loves praise and worship. She is in leadership training for children’s camps and children’s clubs going to training classes every Wednesday afternoon and sometimes over the weekends as part of the leadership team for other children in the camps.</P><P><br>Phoebe loves to dance Israeli dance, hip-hop, and ballet. She loves to sing and worship the Lord and often leads worship. She is working with the worship team at church to produce a CD of the worship songs she has written.  Each recorded song will cost her USD130 and she aims to have 15 songs so she not only needs grace to record and edit the music but also to find the funds to cut each song through a production company in Mbabane.  At 16 this is greatly ambitious and she needs all the help and support we can give her.  She wants to be a medical doctor and so is diligent with her school work but needs resources for a mini science lab at New Hope Centre so she can prepare for medical school.</P>    ">
                </a>
                <h2>Phoebe</h2>
                <p>Date of Birth 6th September, 1998</p>
            </div>
        </div>



        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Priscilla.jpg" style=" height:250px"
                         data-val="
                    <H2>Priscilla</H2><P>Date of Birth 23rd November, 2005</P><br><P><br>Priscilla arrived at New Hope Centre with her older brother from a very poverty stricken family and not much of a story. The widow woman with them claimed to be the mother and was distraught, despairing and starving. She claimed they had no relatives and she alone was left with no-one and no where to turn to for help. We noted both children had evidence of physical abuse and intimidation. The children showed immense fear and distrust. We considered their situation as seriously in need of intervention to rescue their young lives and give them a safe home and a future. We were able to assist the woman with food for some days through a gift of Food for Hungry Kids from the Southbrook Christian Church in Ohio. The woman has begun to attend the local Assemblies of God Church and is showing signs of recovery as a person. Her husband worked in the mines and died after a long sickness which means if she is not treated she will follow him in a short while. Priscilla is a delightful little girl. At first she was so scared she did not say a word and hid her face if you greeted her or looked at her, but now in chapel every morning she runs around with arms wide open to give everyone a hug and when she is happy she jumps up and down. This year she begins ABC class in Hope Academy though she is older the extra time in the preschool has helped her mature and be ready to progress in school.</P>   ">
                </a>
                <h2>Priscilla</h2>
                <p>Date of Birth 23rd November, 2005</p>
            </div>
        </div>

    </div>
    <div class="row" style="border-bottom-style:solid; padding-top:10px">

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Ruth.jpg" style=" height:250px"
                         data-val="
                    <H2>Ruth</H2><P>Date of Birth 16th March, 2000</P><br><P><br>With both parents dead, Ruth had suffered considerable sexual and emotional abuse at the homesteads where she was staying. She was cared for by a child-minder until her grandfather died and then there was no-one to pay the child-minder. Her pastor referred her to the New Hope Centre. For a long time Ruth would cry whenever she was awakened. She is now developed into a sweet and charming young lady.  She loves ballet and went on a school trip to Johannesburg where she saw Swan Lake and she is now dreaming of a time when she can dance in such a production.  The options are limited in Swaziland but we hope someday somehow she will have such an opportunity.  She is a teenager now and lives in the teenage girls house. She was able to go to Israel last year through sponsorship to the International Celebration of the Feast of Tabernacles.  Her commitment is to become a teacher and have her own school.</P>  ">
                </a>
                <h2>Ruth</h2>
                <p>Date of Birth 16th March, 2000</p>
            </div>
        </div>


        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Sakani.jpg" style=" height:250px"
                         data-val="
                    <H2>Sakani</H2><P>Date of Birth 12th December, 2020</P><br><P><br>Sakani came as a baby with her mother during COVID as the COVID restrictions meant they had no place to go. The father had abandoned the mother and baby. He had previously demanded that the mother abhort the child but the mother refused.  After a rather scary c/section a beautiful baby came with mother to live with us. The mother is now serving as a caregiver to both Sakani  and Benjamin.</P>  ">
                </a>
                <h2>Sakani</h2>
                <p>Date of Birth 12th December, 2020</p>
            </div>
        </div>




        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Samuel.jpg" style=" height:250px"
                         data-val="
                    <H2>Samuel</H2><P>Date of Birth 31st December, 1999</P><br><P><br>Samuel is from the Eastern area of the country. He is a double orphan since both parents have died. He and his sister had lived with their grandfather until the time when his health has been failing and he was desperate to give the children a hope and a future. He had no other children of his own with whom to leave the children. The children were referred to us by the local pastor who wept on the phone when we contacted him back to inform him that we could take the children.</P><P><br>Samuel is an anointed preacher. He was invited to preach at a children’s camp in Zimbabwe a few years ago when he was only 8 years of age. He is named after Samuel the prophet in the Bible of whom it was written “not one word that came from his mouth fell to the ground”, likewise this young man has a heart after God’s heart and a mind after God’s mind. He loves to ride bikes, go fishing, play soccer, lead worship and climb trees. He has recently moved into the teenage boys house and often serves as caregiver for the younger boys.  He has suddenly become serious about his school work which will enable him to go farther in life.</P>  ">
                </a>
                <h2>Samuel</h2>
                <p>Date of Birth 31st December, 1999</p>
            </div>
        </div>




        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Seth.jpg" style=" height:250px"
                         data-val=" <h2>Seth</h2>
                    <p>Date of Birth 26th November 2001</p><p> Seth and his sister came in one day. They are from Manzini in the central part of Swaziland. Two old grannies arrived at New Hope Centre in dire straights, saying they had tried to care for these two children who come to them like stray dogs from the street. The grannies had tried but they could not manage their own grand children plus Seth and his sister. Seth is an artist and loves basket ball.  Thank fully in the teenage houses we have a basket ball ring in the dining hall so he can practice but we still have to make a multipurpose outdoor court for basket ball, tennis and volley ball. Pray with us we can do this before these kids are passed the active age., He wants to be an engineer and spent much time working with one of our South African volunteers learning how to service and repair cars. </p> ">
                </a>
                <h2>Seth</h2>
                <p>Date of Birth 26th November 2001</p>
            </div>
        </div>

    </div>
    <div class="row" style="border-bottom-style:solid; padding-top:10px">
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Suzzanna.jpg" style=" height:250px"
                         data-val="
                    <H2>Suzanna</H2><P>Date of Birth 18th April, 1999</P><P>With both parents dead, Suzzanna had suffered sexual and emotional abuse at her granny’s homestead. Her granny was too frail and old to care for her and protect her. She had learned many unhealthy behavioral habits, but with much prayer and nurturing she has overcome and is healing. Suzzanna is very bright girl with a strong personality of authority and leadership. Suzzanna loves ballet, singing, reading, preaching, leading worship, climbing trees, eating fresh fruit from our own fruit trees and excelling in school.</P><P><br>Suzzanna has volunteered in our Hope Camps to be the Director of the psychosocial camps that we run for double orphaned children nominated by their teachers in 40 schools around Swaziland. The first camp she partnered in leadership with a Youth Leader and with Caleb our eldest son. The next camp Caleb was away at school and she partnered with the Youth leader, but the last camp she has Directed alone, learning how to work with adults and with children, with her siblings and with orphans she has never met before. She will do great exploits in the Kingdom in her time.</P>   ">
                </a>
                <h2>Suzzanna</h2>
                <p>Date of Birth 18th April, 1999</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Tabitha.jpg" style=" height:250px"
                         data-val="
                    <H2>Tabitha</H2><P>Date of Birth 31st July, 2000</P><br><P><br>Tabitha is a double orphan. She was living with her uncle in Manzini as he is the only living relative. He was no longer able to care for her and the stress in the family was causing problems for his own children. He was also an orphan himself so had no other extended family who could care for Tabitha. He had suffered as a child, not having proper care and support, and did not want this little one to suffer and struggle as he had. He visited the New Hope Centre and was relieved to know that God had made provision for children who had no-one to love and care for them. He was so overwhelmed that he wept as he made out the application forms and prepared to meet us the following day. Tabitha had been schooling at Nazarene Beaufort School until the following day when he brought her to New Hope Centre with her small brown school case of all her possessions, wearing her school uniform. Tabitha is so sweet. As we explained the role that the Biblical Tabitha had in the early church and how she was resurrected to continue her life, our Tabitha smiled, and said that now she is at New Hope Centre she has been resurrected and can have joy once more. Tabitha now is a teenager, an avid reader and dancer. She wants to become a professional dancer and we need God to make a way.  We thankfully have a ballet teacher in Mbabane but a school of dance is what she needs and prays for.</P>   ">
                </a>
                <h2>Tabitha</h2>
                <p>Date of Birth 31st July, 2000</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Timothy.jpg" style=" height:250px"
                         data-val="
                    <H2>Timothy</H2><P>Date of Birth 5th December, 2000</P><br><P><br>Timothy and his little brother came to us because their mother saw our van in town and asked people what New Hope Centre was about. They told her we take children who are destitute and need a new home and a new family. She walked for 12Km to reach us and ask if we would take her two little boys as she is dying of HIV/AIDS. Their father had already died along with many other family members. Their grandmother has become mentally disturbed through all the stress of the disintegration of the family so the mother was distraught about her two little boys. Thankfully God has provided for them and they are now in New Hope Centre. Timothy was named after Timothy, Paul’s son in the Lord, as he has such a sweet and lovely nature. He is committed to becoming a missionary to help people and bringing the saving grace of God into people’s lives.  He would love to go to YWAM for Discipleship training when he is a little older.  For now he is diligent in school and is a good friend to anyone in need. </P>   ">
                </a>
                <h2>Timothy</h2>
                <p>Date of Birth 5th December, 2000</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Tirzah.jpg" style=" height:250px"
                         data-val="  <h2>Tirzah</h2>
                    <p>Date of Birth 10th October, 1994</p> <p>Tirzah and her sister were referred to us by a missionary couple working in the mountains to the north of the country. This couple were work to provide for the orphan care points in the area. The two girls were found to be living totally alone, aged 11 and 6. Tirzah had care for 13 of her relatives who died in the homestead and was doing her best to find means to provide food for her younger sister and to pay for Zipporah to go to preschool in the nearby church.</p>

                    <p>When Tirzah came she knew of no living relatives but after some years her brother and his  wife to be arrived at New Hope Centre. They had traced the family and found that the two little girls were still alive and living in a new home and a new family. This has been an amazing delight and breakthrough for these girls. Tirzah is talented in dance, loves reading and drama, plays the guitar. She wanted to be a medical doctor and her dream was build hospital in her mountainous home region so no other child or person would suffer with no medical help or advice ever again. She has completed high school locally but did not reach the required scores for medical school.  She has enrolled in Fashion Design and is preparing herself to have her own Fashion Business in the years to come so that she can support herself and influence future designs and styles.</p>
                    ">
                </a>
                <h2>Tirzah</h2>
                <p>Date of Birth 10th October, 1994</p>
            </div>
        </div>

    </div>
    <div class="row" style="border-bottom-style:solid; padding-top:10px">

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Titus.jpg" style=" height:250px"
                         data-val="   <h2>Titus</h2>
                    <p>Date of Birth 24th December, 2003</p><p>He is a paternal orphan as his mother is alive, although she was very sick with HIV/AIDS. One day Titus mother was in town after visiting the hospital and saw our red Toyota venture at the post office. She then began asking people around to find out what was this New Hope centre that had the scripture about “out of the mouth of babes and infants, you have ordained praise to silence the avenger.” She then followed the vehicle to find us and begged us to take her two little boys as she was sure she would not live long enough to raise them. Tandzi went with the driver to their home and found the two little boys were extremely sick and near death themselves. Titus’s brother is Timothy. Titus came to us a very sick little boy and we had to quarantine them as they were sick with tuberculosis. We thank God for the timely intervention and the amazing medication that dealt with the physical challenges. </p><p>Today he has overcome and is a tough, energetic strong young man who excells in everything he does. He loves to read, to draw, to play soccer especially in defense as he is the star Goal keeper.  He is always willing t serve and help with his siblings or any tasks we need for the successful care of children in our home and in the schools we go out to visit or the communities where we lead Children’s Church. He wants to be a dentist and is currently studying at Kobe Advanced Academy in Ezulwini about 20Km(10 miles) from our home.  This will be a long process but as God helps him and the family of God through sponsors helps him, he will be a compassionate careful and superb thorough dentist.</p>  ">
                </a>
                <h2>Titus</h2>
                <p>Date of Birth 24th December, 2003</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Zadok.jpg" style=" height:250px"
                         data-val=" <h2>Zadok</h2>
                    <p>Date of Birth 24th May, 2000</p> <p>Zadok is from our Bethany community and started in preschool with us. He is a double orphan though he does have extended family of uncles and aunts. He developed a serious problem in his health as he entered puberty and required special surgery in South Africa.  We thank God for providing through Susan Page and others for supplying the funds for this surgery which was a great success and to Audrey and Howard Emmet for allowing us to stay in their home during the days of this surgery. He has done very well in school and was nominated with Samuel to represent Africa at the All Africa Student Convention in the USA. He is a good thinker and manager.  In his early years he wanted to be an accountant, but he is a boy’s boy. He used to lead the games boys play like sword fights, soccer, pillow fights. He has outgrown that now.  He has an incredible ability to draw and to hear from God with revelation knowledge. He wants to play soccer as a sport but one day be a pastor and he will be an excellent one at caring for people deeply. He is training as a swim coach at present but hopes to complete his high school in South Africa so that he has more options for tertiary education. </p> ">
                </a>
                <h2>Zadok</h2>
                <p>Date of Birth 24th May, 2000</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Zechariah.jpg" style=" height:250px"
                         data-val="  <h2>Zechariah</h2>
                    <p>Birth Date: 10th August 2000</p> <p>Zechariah is half brother to Jemimah. His father died and Zechariah lived with his mother at her second husbands homestead, until she became ill and died. We did not know Zechariah as only Jemimah was sent to our Happy Overcomers Preschool. When his mother died the family wanted nothing to do with him as he had no biological connection. We visited the homestead and found the two children. He had not been able to go to school because his father’s family had no means to help his mother. He had been neglected and was a lost little boy and abused little boy.  He has had much healing to go through from neglect and abuse.  We praise God e were able to bring him through preschool and the early grades before we moved him to live near St Mary’s school where he could pursue his schooling.  We rent a one room place for him to live near the school and hope he will continue to grow and mature. He is a strong, responsible and healthy young man. He will soon complete Grade 7 and is passing well so he should move on to high school.  He is good with animal husbandry and we pray God will provide for him to continue through High School and College so that he can contribute in a leadership role for the food production in our country.</p> ">
                </a>
                <h2>Zechariah</h2>
                <p>Birth Date: 10th August 2000</p>
            </div>
        </div>




        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Zeruiah.jpg" style=" height:250px"
                         data-val="   <h2>Zeruiah</h2>
                    <p>Date of Birth 21st May, 2008</p><P>This little girl was found by our community worker not far from our home. She was living with her grandmother, her grandmother’s friend and her older brother. She was not coping very well with life, her health was poorly.  Her grandmothers friend passed away and they had become homeless, but worse yet the grandmother was an alcoholic and infected with HIV.  The prospects were not good and the details of the circumstances were vague. We processed to take the two young children before the grandmother passed away, which would leave them totally stranded.</P>

                    <p>She and her brother began preschool at the Happy Overcomers Preschool though Zeruiah appeared too weak to walk.  One day she fell of the little plastic chair and hit her head and this precipitated Seizures.  Thankfully Dr Roger Paholka of Ohio and his team of students were on site and he was able to examine her. This began a long road of testing and medication to determine how best to care for her.  She needs a carer with her 24/7 plus we have needed to train our children and our volunteers how to care for her.  Dr Paul Rothwell sponsored her to go for special training that significantly helped her but she still has need of more special education and a healing miracle. Her care is costly and it is our constant prayer that she will be healed.  We have learned that seizures are induced by overheating like if it is a hot day or if she has a fever, or by physical injury. It is as if the brain enters a panic of sorts not emotionally only but physically.  We praise God that most of the time we manage her but she is eleven years old and vulnerable. She has learned to focus and learned to walk on her own since being with us at New Hope Centre but she needs much prayer, care, patience, love and help to make it into her calling. We believe she will one day be like John the Baptist preparing the way for the revelation of the Kingdom of God in our midst.</p>
                    ">
                </a>
                <h2>Zeruiah</h2>
                <p>Date of Birth 21st May, 2008</p>
            </div>
        </div>

    </div>
    <div class="row" style="border-bottom-style:solid; padding-top:10px">

        <div class="col-md-3">
            <div class="content">
                <a href="#" class="pop">
                    <img src="~/Content/Images/children/xl_Zipporah.jpg" style=" height:250px"
                         data-val="<h2>Zipporah</h2>
                    <p>Date of Birth 2nd April, 1998</p> <p>Zipporah and her sister were referred to us by a missionary couple working in the northern mountains of Eswatini. They were working to provide for the orphan care points in the area. The two girls were found to be living totally alone, aged 11 and 6.</p><p>Their mother had been the daughter of the chief but they had no living relatives left. These two little ones were left alone in the homestead and the older one was doing all she could to find a way for food and school fees for her little sister to attend preschool. The missionary couple contacted us to see if we could help and Caroline from Scotland drove up into the mountains with the couple to find them and prepare the way for them to come to New Hope Centre. It was a number of years later that their older brother, a soldier finally located the two girls because his bride to be insisted he find them before she would marry him.  This was wonderful news but the sad news also confirmed their older teenage sister had been working in Matsapha near us but did not know the girls were close by and yet had recently died. </p><p>Zipporah came to us with many physical challenges but has one by one overcome them and through the kind gift of a couple  in Ohio she was able to have needed surgery in South Africa that has enabled her to breathe and sleep, and this transformed her life. Also we so appreciate Heather Stevens who shared her home with us so that she was not alone during the surgery and recovery days.  This surgery suddenly enabled her to hear, to run and play like other children, since she could now to get enough oxygen to concentrate and do well in school. She is a swimmer, dancer, singer and considerate helper in many things. It is a blessing to have her as part of the family at New Hope Centre. She feels called to care for others through a nursing career. Currently she is studying Grade 11 in Phumelelo High School not far from New Hope and living in a one room rental so that she is close to school.  She has a long road ahead to become a nurse.  She has to do well in her matriculation exams at the end of Grade 12 in 2020, the qualify for Nursing School which will be another 4 years of college before she can enter into her life time calling. Truly her gentle kind nature will be a comfort to any and all who are unwell physically, spiritually or emotionally.</p>
                    ">
                </a>
                <h2>Zipporah</h2>
                <p>Date of Birth 2nd April, 1998</p>
            </div>
        </div>

    </div>








    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width:100%">
                    <div id="modaldata">


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


