@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <img src="~/Content/Images/nhc-side.jpg">
        <h3>Eswatini has a prophetic destiny in the Earth but the enemy has struck a vicious blow through HIV/AIDS.</h3>
        <p>
            Statistics report that one in three persons are infected and 8,000 children are orphaned monthly. These children have no relatives left, no hope of making it as the older children give up school in order to seek employment to care for the younger siblings.
        </p>
        <p>
            The NEW HOPE CENTRE in BETHANY is to provide for multiple needs of children within the Swazi nation. It includes a pre-school providing early childhood education and love to the orphaned and abandoned children; an ACE School (elementary and high school) providing excellence in education and Biblical foundation. Music, drama, praise and worship is central to the life and health of the home. The Training Centre prepares those to minister to children, to open orphanages or those who will open their homes to enlarge their tents and take in these orphaned children. The aim is that these orphaned children will be the Godly leaders of African nations in the years to come.
        </p>

    </div>
    
    <div class="col-md-6">
        <h3>The NEW HOPE CENTRE in BETHANY is to provide for multiple needs of children within the Swazi nation.</h3>
        <p>
            It includes a pre-school providing early childhood education and love to the orphaned and abandoned children; an ACE School (elementary and high school) providing excellence in education and Biblical foundation. Music, drama, praise and worship is central to the life and health of the home. The Training Centre prepares those to minister to children, to open orphanages or those who will open their homes to enlarge their tents and take in these orphaned children. The aim is that these orphaned children will be the Godly leaders of African nations in the years to come.
        </p>
        <p>
            You can be a part of God’s heart toward these children by giving of your time in prayer, your finance in gifts and your talent in volunteering to come on short term or long term service.
        </p>
        <p>
            <h3>Prayer is needed for:</h3>
            <ul>
                <li>Favour in establishing the orphanage and micro enterprise projects</li>
                <li>Professional, talented, compassionate servants of God to serve the children</li>
                <li>The Home to be a beacon of joy and light to the nation</li>
                <li>The Home to be a model for other centres throughout the nation</li>
            </ul>
            <h3>Finance is needed for:</h3>
            <ul>
                <li>Equipping Tabernacle of Praise building for fine arts e.g. dance, drama, sound, stage lighting, sound system, acoustics etc.</li>
                <li>Building costs for a nurses’ first aid room</li>
                <li>Furniture for the home, the school and training centre</li>
                <li>Equipment for cooking, accounting, administration, computers etc.</li>
            </ul>
            <h3>Talents are needed to:</h3>
            <ul>
                <li>Teach and administer the preschool and Hope Academy (ACE school)</li>
                <li>Care for the children and parent them</li>
                <li>Musicians, voice coach and artists to teach and raise up skills in the creative arts</li>
                <li>Sports teachers and physical Educators to help build healthy bodies</li>
            </ul>
        </p>

    </div>
</div>
        




