@{
    ViewBag.Title = "Ways to Give";
}

<h2>Sponsors and Supporters of New Hope Centre in eSwatini</h2>

<p>Thank you for your interest in supporting the New Hope Center family in eSwatini through sponsorship, special gifts, and other support. This letter describes ways that you can efficiently get your gift to the family in eSwatini.</p>

<p>First, a little background. New Hope Centre, Inc. is a non-profit organization set up in the United States to reduce the cost of collecting and transferring donations to New Hope Center eSwatini. We are an all-volunteer organization, and Dr. Elizabeth Hynd sits on our Board. (We are not involved in the running of New Hope – that’s a separate Board). </p>
<p>In addition to managing the transfer of funds to eSwatini, we also provide an annual summary of your donations for tax purposes. (If you make a single contribution and would like a statement upon receipt, please indicate that when you make your donation.)</p>

<h3>There are a number of ways that you can support New Hope:</h3>
<br />1) Sponsor a child (please specify the child’s name). If you would like assistance to select a child to sponsor, please contact sponsor@newhopeswaziland.org.
<br />2) Sponsor a staff member or missionary.
<br />3) Non-specific sponsorship.
<br />4) A monetary gift for your sponsored child (e.g., to buy a Christmas gift locally)
<br />5) Special gifts. Although by law we cannot dictate to New Hope how monies are spent, we convey your wishes when the funds are transferred. A gift to purchase school uniforms would be an example.
<br />
<h3>Making Donations:</h3>

<h4>Donations in US dollars may be sent by mail or through PayPal</h4>
<h4>Donations from outside of the US may be made through PayPal (including by Credit Card)</h4>
<h4>You can set up automatic monthly donations through PayPal from a bank account or from a credit card.</h4>

<p>The various methods are described on the following page. We transfer funds to eSwatini monthly, on about the 21st of the month, so it is best to mail your check to arrive or send your electronic transfer on or before the 16th. Any donations that are too late for the monthly transfer are held and sent the following month.</p>

<h3>Payment By Checks (Checks written in <b>US dollars only</b>):</h3>
<p>
    Write a check to “New Hope Centre, Inc.” and mail it to:
</p>
<br />New Hope Centre, Inc.
<br />P.O. Box 292766
<br />Dayton, OH 45429

<p>Note that delivery services (e.g., FedEx, UPS) will not deliver to a P.O. Box. Please send your check by mail.</p>
<p>
    Please indicate on or with your check, if it is for a specific sponsoree or purpose. It would also be helpful to us if
    you could provide your complete address and an e-mail address the first time you make a donation.
</p>

<h3>From Your PayPal Account:</h3>
<p>Make a donation through your PayPal account at the following link:</p>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VPA3CR5SUVCSU"><b>NHC PayPal</b></a>
<p>
    If you would prefer that your donation be considered for a specific child, need, or purpose, you can send a
    message to us by clicking on the phrase “Send a message to New Hope Centre, Inc.”, which appears on the first
    screen if you have a PayPal account.
</p>

<h3>Using Your Credit Card through PayPal (No account needed) (2-4% Fee paid by us):</h3>
<p>You can also make a credit card donation using the same PayPal link.</p>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VPA3CR5SUVCSU"><b>NHC PayPal</b></a>


<p>
    (There is a fee of ~2-4% associated with credit card transactions, depending on the type of credit card you use.
    This fee is subtracted by PayPal before we receive the funds, but the full amount of the donation will be
    represented on your tax statement from NHCI.)
</p>
<p>
    If you would prefer that your donation be considered for a specific child, need, or purpose, you can send a
    message to us by clicking on the phrase “Send a message to New Hope Centre, Inc.”, which appears on the
    second screen if you are donating using a credit card.
</p>



<p>Download a copy of our <a href="~/Content/NHCI Donation Instructions 04-2023.pdf">Donation Instructions PDF</a></p>

<p>Thanks again for your interest. If you have any questions, please contact John at <a href="treasurer@newhopecentreusa.com "> treasurer@newhopecentreusa.com  </a></p>





