@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the official website for New Hope Centre</h2>
        <p>
            The New Hope Centre provides hope for the future in a nation that is dessimated by HIV/AIDS. Our mission is to provide a permanent home for orphaned and abandoned children in Swaziland, and to raise these children with love, education and a Biblical foundation, so that they are ready to lead Swaziland out of these difficult times and into a bright and safe future.
        </p>
        <img src="~/Content/Images/nhc-side.jpg">
        <p>@Html.ActionLink("About Us ..", "AboutUs", "Home")</p>
    </div>

    <div class="col-md-4">
        <h2>What's New - Check Out Recent <a href="http://www.newhopeswaziland.com/WhatsNew/RecentBlogs">Posts</a></h2>

        <p>The storage container from Canada got a creative facelift and has a touch from everyone!</p>
        <h5>September 2021</h5>
        <div class="thumbnail">
            <img src="~/Content/Images/Blogs/Storage_Container.jpg" />
        </div>
        </div>

        <div class="col-md-4">
            <h2>Informative Books</h2>
            <div class="col-md-8">
                <div class="thumbnail">
                    <img src="~/Content/Images/a little child shall lead them.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-8">
                    <div class="thumbnail">
                        <img src="~/Content/Images/DrSamuelHyndBook.jpg" class="img-responsive" style="width:100%">
                    
                </div>
            </div>

            <p>Looking for a heart-felt way to share our story? Why not order copies of this book for family and friends. Visit the Resources page. </p>
            <p>@Html.ActionLink("Learn More ..", "aLittleChild", "Resources")</p>
        </div>
    </div>



