@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Welcome to the official website for New Hope Centre</h2>
        
        <img src="~/Content/Images/website-under-construction-450w-384448846.jpg">
        
    
        <h2>Website Under Construction</h2>
        <h2>@Html.ActionLink("Home", "Index", "Home")</h2>
</div>
    
</div>



